<h1> Products without vendor</h1>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Product Name</th>
      <th>InStock</th>
      <th>Assign Vendor</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div id="withoutvendor_products">
    <% @vars.each do |var| %>
      <tr id="variant_<%= var.id %>">
        <td><%= var.barcode %></td>
        <td><%= var.name %></td>
        <td><%= var.total_on_hand %></td>
        <td>
          <%= form_tag(admin_update_vendor_path, remote: true, method: "get", class: "table_form") do %>
          <%= hidden_field_tag("variant_id", value = var.id) %>
          <label>
            <%= select_tag 'vendor_id', options_for_select(Spree::Vendor.all.collect{ |u| [u.vendorname, u.id] }), :prompt => "Please select" %>
            <%= submit_tag "updatevendor", class: "btn btn-mini" %>
          </label>
        <% end %>
        </td>

      </tr>
    <% end %>
    </div>
  </tbody>
</table>
Pagination below: <br>
<%= paginate @vars %>
