<h1>Purchase Order Details for PO: <%= @purchase_order.id %></h1>
<h3> Vendor: <%= @vendor.vendorname %> </h3>

<table>
  <thead>
    <tr>
      <th>Line</th>
      <th>Product</th>
      <th>Barcode</th>
      <th>Quantity</th>
      <th>QuantityType</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_order_items.each_with_index do |purchaseorderitem, index| %>
      <tr id="poitem_<%= purchaseorderitem.id %>">
        <% @variant = Spree::Variant.find(purchaseorderitem.product_id)  %>
        <td><%= index + 1 %></td>
        <td><%= @variant.name %></td>
        <td><%= @variant.barcode %></td>
        <td><%= purchaseorderitem.quantity %></td>
        <td><%= purchaseorderitem.quantitytype %></td>
        <td><%= button_to 'Remove', admin_delete_purchase_order_item_path, params: { :po_item => purchaseorderitem.id }, confirm: 'Are you sure?', :method => :get, :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Printable PDF", admin_display_detailed_purchase_order_path, params: { :purchase_order_id => @purchase_order.id, :format => 'pdf' }, :id => "open-contacts-dialog-btn", :class => "inbox-sf-add-btn tip", :method => :get %>

<br>
