<h1>Listing Purchase Order</h1> <br>
<%= button_to "New Purchase Order", new_admin_purchase_order_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
<br>
<table>
  <thead>
    <tr>
      <th>Created Date</th>
      <th>Vendor</th>
      <th>Received?</th>
      <th>Active?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchaseorder| %>
      <tr>
        <td><%= purchaseorder.created_at %></td>
        <td><%= begin Spree::Vendor.find(purchaseorder.vendor_id).vendorname 
                rescue
                end%></td>
        <td><%= purchaseorder.received %></td>
        <td><%= purchaseorder.active %></td>
        <td><%= link_to 'Show', admin_display_detailed_purchase_order_path(:purchase_order_id => purchaseorder.id), confirm: 'Are you sure?', method: :get %></td>
        <td><%= link_to 'PDF', admin_display_detailed_purchase_order_path(:purchase_order_id => purchaseorder.id, :format => 'pdf'), confirm: 'Are you sure?', method: :get %></td>
        <td><%= link_to 'Destroy', admin_purchase_order_path(purchaseorder), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Purchase Order", new_admin_purchase_order_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
