
<h1>Listing Products for <%= @vendor.vendorname %></h1>

<%= form_tag admin_add_individual_products_path do %>  
<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Name</th>
      <th>Inventory</th>
      <th>AddToPO</th>
    </tr>
  </thead>

  <tbody>
    <% for var in @sorted_vars %>
      <tr>
        <%= hidden_field_tag 'purchase_order_id', @purchase_order.id %>
        <td><%= var.barcode %></td>
        <td><%= var.name %></td>
        <td><%= var.total_on_hand %></td>
        <td id="variant_<%= var.id %>"><%= check_box_tag "var_ids[]", var.id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= submit_tag "Add Checked" %></p>  
<br>
<% end %>  

<script>
$('#variant_<%= @sorted_vars.id %>').bind('click', function() {
    alert('Unobtrusive!');
}
</script>