<h1>Listing temp_pos</h1>

<table>
  <thead>
    <tr>
      <th>Po</th>
      <th>Var</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_pos.each do |temp_po| %>
      <tr>
        <td><%= temp_po.po_id %></td>
        <td><%= temp_po.var_id %></td>
        <td><%= link_to 'Show', temp_po %></td>
        <td><%= link_to 'Edit', edit_temp_po_path(temp_po) %></td>
        <td><%= link_to 'Destroy', temp_po, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp po', new_temp_po_path %>
